[Unit]
Description= Timer for Backup /srv/git and /srv/git-priv to k2so.dyn.rootco.de

[Timer]
OnBootSec=60s
OnCalendar=daily
RandomizedDelaySec=300s
Persistent=true
