[Unit]
Description=Backup /srv/git and /srv/git-priv to k2so.dyn.rootco.de

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -a /srv/git /srv/git-priv root@k2so.dyn.rootco.de:/backups/{{ salt['grains.get']('id') }}/
