[Unit]
Description=Update all containers on the host

[Service]
Type=oneshot
ExecStart=/usr/bin/podman images --format "{{.Repository}}:{{.Tag}}" | /usr/bin/xargs -L1 podman pull;

