[Unit]
Description=rootco.de Jekyll Build Service
After=network-online.target

[Service]
Type=oneshot
Environment=JEKYLL_VERSION=4.0
ExecStartPre=-/usr/bin/podman pull jekyll/jekyll:${JEKYLL_VERSION}
ExecStartPre=-/usr/bin/podman run --rm -v /var/opt/rootco-jekyll:/srv/jekyll -it jekyll/jekyll:${JEKYLL_VERSION} git clone https://github.com/sysrich/rootco.de-web.git /srv/jekyll
ExecStart=/usr/bin/podman run --rm -v /var/opt/rootco-jekyll:/srv/jekyll -it jekyll/jekyll:${JEKYLL_VERSION} git pull
ExecStart=/usr/bin/podman run --rm -v /var/opt/rootco-jekyll:/srv/jekyll -it jekyll/jekyll:4.0 chown -R 1000:1000 /srv/jekyll
ExecStart=/usr/bin/podman run --rm -v /var/opt/rootco-jekyll:/srv/jekyll -it jekyll/jekyll:${JEKYLL_VERSION} jekyll build
ExecStart=/usr/bin/rsync -a --delete /var/opt/rootco-jekyll/_site /var/opt/rootco-web/htdocs


[Install]
WantedBy=multi-user.target
