[Unit]
Description=rootco.de Certbot service
After=network-online.target

[Service]
Type=oneshot
ExecStart=systemctl stop rootco-web
ExecStart=/usr/bin/podman run --rm -v /var/opt/rootco-web/data/etc:/etc/nginx -v /var/opt/rootco-web/data/htdocs:/srv/www/htdocs -v /var/opt/rootco-web/letsencrypt:/etc/letsencrypt -p 80:80 -p 443:443 -it registry.opensuse.org/home/rbrownsuse/containers/containers/certbot:latest certbot renew
ExecStart=systemctl start rootco-web


[Install]
WantedBy=multi-user.target
