[Unit]
Description=rootco.de Certbot service
After=network-online.target

[Service]
Type=oneshot

ExecStartPre=-/usr/bin/podman pull registry.opensuse.org/home/rbrownsuse/containers/containers/certbot:latest
ExecStart=/usr/bin/podman run --rm -v /var/opt/rootco-web/data/etc:/etc/nginx -v /var/opt/rootco-web/certbot:/etc/certbot -it registry.opensuse.org/home/rbrownsuse/containers/containers/certbot:latest certbot renew


[Install]
WantedBy=multi-user.target
