[Unit]
Description=rootco.de Web Service
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/podman pull registry.opensuse.org/opensuse/nginx:latest
ExecStart=/usr/bin/podman run --rm --name rootco-web -v /var/opt/rootco-web:/data -p 80:80/tcp -p 443:443/tcp registry.opensuse.org/opensuse/nginx:latest
ExecStop=/usr/bin/podman stop rootco-web

[Install]
WantedBy=multi-user.target
