[Unit]
Description=rootco.de Salt Master Service
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/podman rm salt-master
ExecStart=/usr/bin/podman run --rm -p 4505-4506:4505-4506 -v /var/opt/salt-master:/etc/salt --name salt-master registry.opensuse.org/home/rbrownsuse/containers/containers/salt-master:latest
ExecStop=/usr/bin/podman stop salt-master

[Install]
WantedBy=multi-user.target
