[Unit]
Description=Run Measurement Server Twice a Day

[Timer]
OnCalendar=*-*-* 00:04:00
OnCalendar=*-*-* 00:34:00
Unit=rootco-measure-server.service

[Install]
WantedBy=timers.target
