[Unit]
Description=rootco.de Salt Master Service
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/podman pull registry.opensuse.org/home/rbrownsuse/containers/containers/salt-master:latest
ExecStart=/usr/bin/podman run --rm -p 4505-4506:4505-4506 -v /var/opt/salt-master/etc:/etc/salt -v /var/opt/salt-master/salt:/srv/salt -v /var/opt/salt-master/pillar:/srv/pillar -v /var/opt/salt-master/spm:/srv/spm registry.opensuse.org/home/rbrownsuse/containers/containers/salt-master:latest

[Install]
WantedBy=multi-user.target
