[Unit]
Description=rootco.de Certbot service
After=network-online.target

[Service]
Type=oneshot

ExecStartPre=-/usr/bin/podman pull certbot/certbot:latest
ExecStartPre=-/usr/bin/podman run --rm -v /var/opt/rootco-web/etc:/etc/nginx -v /var/opt/rootco-web/certbot:/etc/certbot -it certbot/certbot:latest certbot --nginx
ExecStart=/usr/bin/podman run --rm -v /var/opt/rootco-web/etc:/etc/nginx -v /var/opt/rootco-web/certbot:/etc/certbot -it certbot/certbot:latest certbot renew


[Install]
WantedBy=multi-user.target
