[Unit]
Description=rootco.de ZNC Service
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/podman rm rootco-znc
ExecStart=/usr/bin/podman run --rm --name rootco-znc -p 8897:8897 -v /var/opt/rootco-znc:/var/lib/znc/.znc registry.opensuse.org/home/rbrownsuse/containers/containers/znc:latest
ExecStop=/usr/bin/podman stop rootco-znc

[Install]
WantedBy=multi-user.target
