[Unit]
Description=Rootco backup service
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/podman pull registry.opensuse.org/home/rbrownsuse/containers/containers/backer-srv:latest
ExecStart=/usr/bin/podman run --rm -p 22:22 --name backer -v /disk/backer:/backups -v /var/opt/backer/sshd:/etc/ssh/keybridge -v /var/opt/backer/keys/authorized_keys:/root/.ssh/authorized_keys:ro registry.opensuse.org/home/rbrownsuse/containers/containers/backer-srv:latest
ExecStop=/usr/bin/podman stop backer
Restart=on-failure

[Install]
WantedBy=multi-user.target
