[Unit]
Description= Timer for Backup to Hetzner

[Timer]
OnBootSec=60s
OnCalendar=daily
RandomizedDelaySec=300s
Persistent=true

[Install]
WantedBy=default.target
