[Unit]
Description=Backup /etc to cloud.dyn.rootco.de

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -a /etc root@cloud.dyn.rootco.de:/backups/{{ salt['grains.get']('id') }}/
