[Unit]
Description=Weekly certificate renewal

[Timer]
OnCalendar=weekly
AccuracySec=1m
RandomizedDelaySec=2h
Persistent=true

[Install]
WantedBy=timers.target
