[Unit]
Description=NextCloud Container Service
PartOf=nextcloud.service
After=nextcloud.service
After=ncnginx.service

[Service]
ExecStartPre=-/usr/bin/podman rm ncserver
ExecStart=/usr/bin/podman run --rm -v /disk/nextcloud:/var/www/html --net=container:ncnginx --name="ncserver" nextcloud:fpm
ExecStop=/usr/bin/podman stop ncserver

[Install]
WantedBy=nextcloud.service
