[Unit]
Description=Run upload measurement daily

[Timer]
OnCalendar=*-*-* 00:35:00
RandomizedDelaySec=60s
Unit=rootco-measure-upload.service

[Install]
WantedBy=timers.target
