[Unit]
Description=Run Speedtest hourly

[Timer]
OnBootSec=60s
OnCalendar=hourly
RandomizedDelaySec=300s
Persistent=true
Unit=rootco-speedtest-cli.service

[Install]
WantedBy=timers.target
