[Unit]
Description=Run download measurement hourly

[Timer]
OnCalendar=*-*-* *:05:00
RandomizedDelaySec=60s
Unit=rootco-measure-download.service

[Install]
WantedBy=timers.target
