[Unit]
Description=Rootco sslh service
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/podman rm sslh
# TODO: PORT 81 for TESTING ONLY
ExecStart=/usr/bin/podman run --rm --name sslh -p 81:80 -v /var/opt/sslh/sslh.cfg:/etc/sslh.cfg registry.opensuse.org/home/rbrownsuse/containers/containers/sslh:latest
ExecStop=/usr/bin/podman stop sslh

[Install]
WantedBy=multi-user.target
