# This is a basic configuration file that should provide
# sensible values for "standard" setup.

verbose: 0;
foreground: false;
inetd: false;
numeric: false;
transparent: false;
timeout: 2;
user: "nobody";
pidfile: "/var/run/sslh.pid";
chroot: "/var/empty";


# Change hostname with your external address name.
listen:
(
    { host: "cloud.dyn.rootco.de"; port: "80"; }
);

protocols:
(
     { name: "ssh"; service: "ssh"; host: "localhost"; port: "22"; keepalive: true; fork: true; },
     { name: "http"; host: "localhost"; port: "80"; },
);
