[Unit]
Description=Staging Bot
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/podman rm staging-bot
ExecStart=/usr/bin/podman run -d --rm --name staging-bot -v /root/.config/osc/oscrc:/root/.config/osc/oscrc:ro registry.opensuse.org/home/rbrownsuse/containers/containers/staging-bot:latest
ExecStop=/usr/bin/podman stop staging-bot

[Install]
WantedBy=multi-user.target
