[Unit]
Description=Backup /var/lib/znc/.znc to cloud.dyn.rootco.de

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -a /var/lib/znc/.znc root@cloud.dyn.rootco.de:/backups/{{ salt['grains.get']('id') }}/
