[Unit]
Description=rootco.de MC Proxy Service
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/podman pull registry.opensuse.org/opensuse/nginx:latest
ExecStart=/usr/bin/podman run --rm --name rootco-mcproxy -v /var/opt/rootco-web/data:/data -p 80:80/tcp registry.opensuse.org/opensuse/nginx:latest
ExecStop=/usr/bin/podman stop rootco-mcproxy

[Install]
WantedBy=multi-user.target
