[Unit]
Description=Backup /srv/salt /srv/pillar /srv/spm to k2so.dyn.rootco.de

[Service]
Type=oneshot
ExecStart=/usr/bin/rsync -a /srv/salt /srv/pillar /srv/spm root@k2so.dyn.rootco.de:/backups/{{ salt['grains.get']('id') }}/
